<div class="blog-title">
  <h2>ALL BLOGS</h2>
</div>

<div class="blog-grid">
  <div class="blog-item">
    <img src="assets/blogs/healtymeal.jpg" alt="Blog Post 1">
    <h3>Quick Healthy Meal Ideas</h3>
    <div class="post-stats">
      <span>👍 120</span>
      <span>👎 10</span>
      <span>💬 30</span>
    </div>
  </div>
  <div class="blog-item">
    <img src="assets/blogs/codinglang.png" alt="Blog Post 2">
    <h3>Top 2024 Coding Languages</h3>
    <div class="post-stats">
      <span>👍 95</span>
       <span>👎 5</span>
       <span>💬 12</span>
     </div>
   </div>
   <div class="blog-item">
    <img src="assets/blogs/topbook.webp" alt="Blog Post 3">
     <h3>Top Books to Read This Year</h3>
     <div class="post-stats">
       <span>👍 180</span>
       <span>👎 15</span>
      <span>💬 45</span>
     </div>
   </div>
</div>

<div class="blog-grid">
  <div class="blog-item">
   <img src="assets/blogs/travelsafe.jpg" alt="Blog Post 4">
   <h3>Essential Travel Safety Tips</h3>
   <div class="post-stats">
      <span>👍 210</span>
      <span>👎 20</span>
      <span>💬 50</span>
     </div>
  </div>
   <div class="blog-item">
    <img src="assets/blogs/homeoffice.webp" alt="Blog Post 5">
    <h3>Home Office Ergonomics</h3>
    <div class="post-stats">
      <span>👍 150</span>
      <span>👎 8</span>
      <span>💬 20</span>
  </div>
  </div>
  <div class="blog-item">
     <img src="assets/blogs/homeprojects.jpg" alt="Blog Post 6">
     <h3>Simple DIY Home Projects</h3>
     <div class="post-stats">
       <span>👍 85</span>
       <span>👎 3</span>
       <span>💬 10</span>
     </div>
  </div>
</div>
  