.blog-title, .new-blogs-title {
  text-align: center;
  margin-bottom: 20px;
}

.blog-title {
  margin-top: 20px;
}

.new-blogs-title {
  margin-top: 40px; 
}

.blog-title h2, .new-blogs-title h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.blog-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 120px; 
  padding: 20px;
  max-width: 1200px; 
  margin: 0 auto; 
}

.blog-item {
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  width: 100%; 
  height: 350px; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.blog-item img {
  width: 100%;
  height: 200px; 
  border-radius: 8px;
  object-fit: cover;
}

.post-stats {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.post-stats span {
  font-size: 14px;
}
