<header>
  <div class="header-container">
    <div class="social-media">
      <a href="https://facebook.com" target="_blank" aria-label="Facebook">
        <img src="assets/Home/facebook.png" alt="Facebook">
      </a>
      <a href="https://twitter.com" target="_blank" aria-label="Twitter">
        <img src="assets/Home/twitter.png" alt="Twitter">
      </a>
      <a href="https://instagram.com" target="_blank" aria-label="Instagram">
        <img src="assets/Home/instagram.png" alt="Instagram">
      </a>
      <a href="https://github.com" target="_blank" aria-label="GitHub">
        <img src="assets/Home/github.png" alt="GitHub">
      </a>
      <a href="https://linkedin.com" target="_blank" aria-label="LinkedIn">
        <img src="assets/Home/linkedin.png" alt="LinkedIn">
      </a>
    </div>
    <h1>BLOG</h1>
  </div>
</header>
