header {
  background-color: white; /* Arka planı beyaz yaptık */
  width: 1500px; /* Header genişliği */
  height: 354px; /* Header yüksekliği */
  margin: 0 auto; /* Header'ı ortalamak için */
  position: relative; /* İçindeki elemanları konumlandırmak için relative yaptık */
  display: flex;
  flex-direction: column; /* Menü ve içerikleri dikey yerleştirmek için */
  justify-content: space-between; /* İçerikleri dikeyde yaymak için */
}

.header-container {
  display: flex;
  justify-content: center; /* X düzleminde ortalama */
  align-items: center;
  height: 100%; /* Container'ın yüksekliği header'a eşit */
  position: relative; /* İçindeki elemanları konumlandırmak için */
}

.social-media {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.social-media a {
  margin-right: 15px;
}

.social-media img {
  width: 24px;
  height: 24px;
}

.centered-title {
  color: black; /* BLOG yazısını siyah yaptık */
  font-size: 50px; /* Yazı tipi boyutu */
  width: 700px; /* BLOG yazısının genişliği */
  height: 200px; /* BLOG yazısının yüksekliği */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0; /* Margin'i sıfırladık */
  letter-spacing: 2px;
  font-weight: bold;
  font-family: 'Inspiration', sans-serif; /* Fontu buraya ekledik */
  text-align: center;
}

.search-bar {
  display: flex;
  align-items: center;
  position: absolute;
  right: 80px; /* Arama çubuğu ve login ikonunun arasındaki boşluk */
  top: 50%;
  transform: translateY(-50%);
}

.search-bar input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px;
  margin-right: 10px;
}

.search-bar button {
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  background-color: #34495e;
  color: white;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: #2c3e50;
}

.login-icon {
  position: absolute;
  right: 20px; /* Login ikonunun sağda yer alması */
  top: 50%;
  transform: translateY(-50%);
}

.login-icon img {
  width: 24px; /* İkon boyutu */
  height: 24px;
}

.menu-bar {
  width: 100%; /* Menü barı genişliği */
  margin-top: auto; /* Menü barını header'ın en altına taşımak için */
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 10px 0;
}

.menu-item {
  margin: 0 20px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-family: 'Inspiration', sans-serif; /* Menü yazı tipi */
}

.top-line, .bottom-line {
  border: none;
  height: 2px;
  background-color: black;
  margin: 0;
}
