.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 10px 20px;
  background-color: #34495e;
}

.social-media {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.social-media a {
  margin-right: 15px;
}

.social-media img {
  width: 24px;
  height: 24px;
}

.centered-title {
  color: white;
  font-size: 36px;
  margin: 0;
  letter-spacing: 2px;
  font-weight: bold;
}
