<footer class="footer">
  <div class="line"></div> 
  <div class="container">
    <p>Footer İçeriği</p>
    <ul class="footer-links">
      <li><a href="#">Home</a></li>
      <li><a href="#">Blogs</a></li>
      <li><a href="#">Category</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact Me</a></li>
      <li><a href="#">Create Blog</a></li>
    </ul>
  </div>
  <div class="footer-left">
    <div>Explore</div>
    <div>Inspire</div>
    <div>Create</div>
  </div>
</footer>
