.contactpage-container {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    font-family: 'Inknut Antiqua', serif;
    text-align: center;
  }
  
  .contactpage-container h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .contactpage-container p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .contactpage-container .form-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
  .contactpage-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .contactpage-container input,
  .contactpage-container textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .contactpage-container {
    button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    }

    button:hover {
      background-color: #0056b3;
    }

    button:disabled{
      background-color: #87c1ff;
      cursor: not-allowed,
    }

  }

  