.aboutpage-container {
  padding: 20px;
  text-align: center;
  font-family: 'Inknut Antiqua', serif;
  max-width: 800px;
  margin: 0 auto;
}

.aboutpage-container h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.aboutpage-container p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
}
