<div class="content">
    <div class="image-container">
        <img src="assets/home/homephoto.jpg" alt="homephoto" class="home-image">
    </div>

    <div class="image-divider"></div>

    <div class="heading-with-image">
        <div class="text-container">
            <h2 class="image-heading">The Magic of Traveling: Exploring New Horizons </h2>

            <div class="long-text"><p>Traveling is more than just visiting new places; it's about embracing new experiences, cultures, and perspectives. Whether you're wandering through the bustling streets of a foreign city or hiking in the serenity of nature, every journey adds a unique chapter to your life story.</p>

                <p>One of the greatest joys of traveling is the opportunity to break free from your daily routine. It allows you to step out of your comfort zone, try new things, and meet people from different walks of life. Each destination offers something special, whether it's the local cuisine, historical landmarks, or simply the chance to relax and unwind.</p>
            
            </div>
        </div>
        <img src="assets/home/bloghome.jpg" alt="Yan Resim" class="side-image">
    </div>
</div>